<section class="section-primary-a top-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Curriculum Vitae</h2>
            </div>
        </div>
    </div>
</section>
<section class="section-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="cv-text">Klik <a href="/pdf/cv_Zaky_Huraibi.pdf" data-toggle="tooltip" data-placement="top" title="C.V." target="_blank">hier</a> voor mijn C.V. of om nog meer over mij te weten te komen wat ik zoal in het verleden heb gedaan. Kan je
                    naar beneden scrollen om mijn tijdlijn te zien.</p>
                <br><br>

            </div>
   
        </div>
    </div>
</section>
<section class="timeline">
        <ul>
            <li #allTheseThings *ngFor="let c of queryResult.items">
                <div>
                    <time>{{ c.time }}</time>
                    {{ c.content }}
                </div>
            </li>
        </ul>
</section>
