node_modules
bower_components
public/src/app/**/*.js
public/src/app/**/*.map
public/src/css/style.css.map
public/src/css/style.map
public/src/css/main.css.map
public/src/css/main.map
public/src/app/components/**/*.js
public/src/app/components/**/*.map

# misc
npm-debug.log
