/* _variables */

/* Font Colors */
$base-font-size:15px;
$base-font-family:"Segoe UI","Segoe WP","Segoe Regular", sans-serif;
$base-font-color:#666666;

/* Background Colors */
$primary-color:#8b0000;
$secondary-color:#7fba00;
$light-color:#e4eef2;
$dark-color:#2b5464;


/* Showcase Area */
$showcase-height:400px;
$showcase-image:'../images/jungle-bridge-1920x1080.jpg';
