
<section class="section-main section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="page-header heading-primary-a">Zaky Huraibi</h2>
                <p>In lacinia ipsum sit amet ultricies semper. Nulla facilisi. Proin et nulla consequat mauris gravida vestibulum. Donec non risus et velit auctor lobortis. Aliquam in placerat justo. Etiam nisi libero, suscipit vel nulla eget, blandit ultricies quam. Nunc pretium pharetra tellus sed suscipit. Fusce rhoncus metus est, quis facilisis eros luctus vestibulum. Morbi vestibulum, urna vitae feugiat tincidunt, urna magna pharetra enim, id congue lectus elit sit amet quam. Vivamus sit amet enim eros. Etiam nec molestie risus.</p>
                <p>Donec non est gravida, condimentum mauris sed, bibendum lectus. Duis poid.</p>
            </div>
            <div class="col-md-8">
                <img class="over-img" src="../../../images/zaky_upper.png" alt="Zaky">
     
            </div>
        </div>
    </div>
</section>
