<section class="section-main section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-lg-3">
                <h3 class="page-header heading-primary-a">Zaky Huraibi</h3>
                <p>     
                    Mijn naam is Zaky Huraibi ik ben geboren en getogen in Amsterdam. Mijn passies zijn programmeren en sporten.
                    In mijn vrije tijd maak ik graag apps die te vinden zijn op mijn GitHub account. Klik 
                    <a href="https://github.com/superzaky" data-toggle="tooltip" data-placement="top" title="superzaky!" target="_blank">hier</a> om naar mijn GitHub pagina te gaan. 
                    Ik ben ook vrij sportief wekelijks probeer ik dan ook te voetballen in het Westerpark. Als ik me verveel speel ik graag
                    de game Counter Strike. Andere hobbies die ik ook leuk vind zijn tafeltennis en joggen in het park.
                </p>
            </div>
            <div class="col-md-10 col-lg-9">
                <img class="img-responsive" src="../../../images/zaky_upper.png" alt="Zaky">

            </div>
        </div>

    </div>
</section>

<section class="section-primary-b">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <blockquote class="blockquote blockquote-reverse">
                    <h1>"The guts to never give up."</h1>
                    <em>Masashi Kishimoto, Naruto</em>
                </blockquote>
            </div>
        </div>
    </div>
</section>
