/* Navbar */
.navbar{
    width:100%;
    margin:auto;
    @include add-border(1px, #e7e7e7, 'right-left');
    border-color:#e7e7e7;
    min-height:64px;
    background:#fff;
    margin-bottom:30px;
    border-bottom: 0px;
    
    a{
        color:$primary-color !important;
        font-size:20px;
        letter-spacing:-0.5px;
        padding-bottom:24px !important;
        padding-top:20px !important;
    }

}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background:$primary-color !important;
    color:#fff !important;
}

.navbar-brand {
    margin-top: -19px;;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: $primary-color-dark;
}

.navbar-inverse .navbar-toggle {
    border-color: $secondary-color;
}

.navbar-toggle {
    background:$primary-color
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}
