<section class="section-light top-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="search">
                    <div>
                        <input type="search" placeholder="Zoek projecten" name="searchStr" (keyup)="searchProjects()" [(ngModel)]="searchStr" >
                        <button type="submit" value=""><img src="../../../images/search.png" alt="Search"></button>
                    </div>
                    <p *ngIf="errorMsg !== ''" >
                        {{errorMsg}}
                    </p>
                </form>
            </div>
            <div class="col-md-6">
                <p *ngIf="currentUser?.role == 'admin'" >
                    <a [routerLink]="['/projects/new']" class="btn btn-primary">New project</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section-primary-a">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Projecten</h2>
            </div>
        </div>
    </div>
</section>
<section class="section-main">
    <div class="container">
        <div class="row">
            <!--for loop hier-->
            <div *ngFor="let p of queryResult.items" class="col-lg-4 col-md-6 col-sm-6 col-xs-12 portfolio-item">
                <div class="block block-light block-center block-project">
                    <a [routerLink]="['/projects/', p._id]">
                        <img class="img-responsive equal-height" src="{{ p?.images[0]?.link}}">
                    </a>
                    <h3>
                        <a [routerLink]="['/projects/', p._id]" class="project-name"> {{ shortenTitle(p.name) }} </a>
                    </h3>
                    <p>{{ removeHTMLTags(p.content)}}... </p> 
                    <a [routerLink]="['/projects/', p._id]" class="btn btn-primary btn-custom">Meer info <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-pagination">
    <div class="container">
        <div class="row">
            <pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChanged($event)" class="text-center"></pagination>
        </div>
    </div>
</section>
