@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

$bg-color: #222;
$whiteSmoke: #f5f5f5;
$black: #111;

html {
    background: $bg-color url(../images/background.png) bottom right no-repeat;
    height: 100%;
    background-position: fixed;
    overflow-y: scroll;
}

body {
    background: none;
    line-height: 1.5;
    color: $whiteSmoke;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abril Fatface', cursive;
    margin-top: 0;
}

p {
    margin-bottom: 1rem;
}

.navbar-brand, .navbar-nav>li>a {
    color: $whiteSmoke;
    font-weight: bold;
}

.navbar-brand:hover, .navbar-nav>li>a:hover {
    color: $whiteSmoke;
    font-weight: bold;
    background: none;
}

.navbar-nav > li {
    > a:after {
        content: '/';
        margin-left: 30px;
    }

    &:last-child > a:after {
        content: '';
    }
}

.navbar-toggle {
    background: $black;

    .icon-bar {
        background: $whiteSmoke;
    }
}

@media (max-width: 768px) {
    .navbar-nav > li> a:after{
        content:'';
    }
    
    .navbar-nav > li> a {
        background: $black;
        border-radius: 4px;
        margin-bottom: 3px;
    }
}
